.banner{
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    &-icon{
        margin-top: -3px;
    }
}
@media(max-width: $screen-md){
    .banner-video__dark{
        padding-top:40px !important;
    }
}
@media(max-width: $screen-sm){
    .banner-video__dark-title{
        font-size: 60px !important;
    }
}
@media(max-width: $screen-xs){
    .banner{
        padding-bottom: 250px;
    }
}
@media(max-width: $screen-xl){
    .banner{
        padding-bottom: 100px;
    }
}
@media(max-width: $screen-lg){
    .banner{
        padding-bottom: 20px;
    }
}


.banner-video {
    overflow: hidden; /* Hide scrollbars */
    height: 100%;
    &__dark {
        z-index: 2;
        padding-top: 100px;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0.5886729691876751) 0%, rgba(0,0,0,0.8547794117647058) 58%, rgba(0,0,0,0.9976365546218487) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        &-btn{
            margin-top: 50px;
            width: 100%;
            text-align: center;
        }
        &-container {
            padding: 10px 15px 10px 15px;
        }
        &-title{
            font-size: 72px;
            font-weight: bold;
        }
        &-subtitle{
            color: $primary-yellow;
        }
        &-description{
            color: $primary-grey;
        }
        &-activities{
            margin-top: 42px;
            &-btn{
                cursor: pointer;
                margin: 5px 10px 5px 10px;
            }
        }
    }
    &__source {
        height: 100%;
        width: 100vw;
        object-fit: cover;
        scrollbar-width: none;
    }
}
.banner{
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    &-icon{
        margin-top: -3px;
    }
}
@media(max-width: $screen-md){
    .banner-video__dark{
        padding-top:90px !important;
    }
}
@media(max-width: $screen-sm){
    .banner-video__dark-title{
        font-size: 60px !important;
    }
}
@media(max-width: $screen-xs){
    .banner{
        padding-bottom: 150px;
    }
}
@media(max-width: $screen-xl){
    .banner{
        padding-bottom: 100px;
    }
}


.banner-video {
    overflow: hidden; /* Hide scrollbars */
    height: 100%;
    &__dark {
        z-index: 2;
        padding-top: 100px;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0.5886729691876751) 0%, rgba(0,0,0,0.8547794117647058) 58%, rgba(0,0,0,0.9976365546218487) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        &-btn{
            margin-top: 50px;
            width: 100%;
            text-align: center;
        }
        &-container {
            padding: 10px 15px 10px 15px;
        }
        &-title{
            font-size: 72px;
            font-weight: bold;
        }
        &-subtitle{
            color: $primary-yellow;
        }
        &-description{
            color: $primary-grey;
        }
        &-activities{
            margin-top: 42px;
            &-btn{
                cursor: pointer;
                margin: 5px 10px 5px 10px;
            }
        }
    }
    &__source {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        scrollbar-width: none;
    }
}