$primary:       #1D2D5F;
$primary-light: #40CEE3;
$primary-red:   #F65E5D;
$primary-yellow:#FFBC47;
$primary-grey:  #969BAB;

$primary-font:  #FFFFFF;
$black-font:    #000000;

$background-black: #000000;

$screen-xs:     320px;
$screen-sm:     540px;
$screen-md:     720px;
$screen-lg:     960px;
$screen-xl:     1140px;